* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f5f7fa;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Montserrat;
}

.wrapper {
  background: #fff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
  background: #080c0d;
  width: 370px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.my-photo {
  width: 370px;
}

.about-me-container {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 110px;
  padding-bottom: 110px;
}

.contacts-container {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
}

.contacts-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  margin-bottom: 20px;
}

.contacts-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  opacity: 50%;
}

.contacts-link-type {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  margin-right: 10px;
}

.skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  color: #fff;
}

.skills-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
}

.skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
  color: #ff6b08;
}

.skills-text {
  color: #d8dadd;
}

.info-profession {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 23px;
}

.info-name {
  font-size: 45px;
  font-weight: 700;
}

.info-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
}

.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.info-container {
  margin-bottom: 55px;
  /* margin-bottom: 30px; */
}

.about-me-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

.projects-link {
  text-decoration: none;
  color: #595959;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}

.tech-name {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.dots {
  color: #bebebe;
  font-weight: 100;
}

.projects-item {
  font-weight: 700;
  margin-left: 17px;
}

.projects-container {
  margin-bottom: 55px;
}

.profession-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.profession-company {
  color: #ff7011;
}

.profession-time {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

.profession-divider {
  color: #000;
}

.profession-duties {
  margin-top: 14px;
  margin-bottom: 30px;
}

.profession-duties-item {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.education-container,
.work-container {
  margin-top: 55px;
}

.univ-name {
  color: #ff6b08;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.univ-speciality {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 15px;
}

.education-title {
  margin-bottom: 15px;
}

footer {
  background-color: #080c0d;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.icon {
  padding: 0 5px;
  width: 50px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 900px) {
  body {
    background-color: #080c0d;
  }
  .wrapper {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    display: flex;
  }

  .skills-row {
    display: flex;
  }
  .my-photo {
    width: 50%;
    height: 100%;
  }

  .contacts-container {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .skills-container {
    margin-left: 20px;
    margin-right: 0;
    margin-top: 20px;
  }

  .about-me-container {
    padding: 30px;
  }
}

@media screen and (max-width: 600px) {
  .sidebar {
    flex-direction: column;
  }

  .my-photo {
    width: 100%;
  }

  .sidebar-container {
    margin-top: 20px;
  }
  .contacts-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .skills-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .name {
    font-size: 30px;
  }
  .profession {
    margin-bottom: 10px;
  }
  .projects-container {
    margin-bottom: 30px;
  }
  .about-me-title {
    font-size: 18px;
  }
  .education-container {
    margin-top: 30px;
  }
  .profession-title {
    margin-bottom: 0;
  }
  .profession-duties {
    margin-top: 0;
  }
}
